.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* /// */

:root {
  --primary-white: #fff;
}

/*NavLinks*/

nav a.nav-link {
  font-weight: bolder;
  letter-spacing: 0.0375rem;
  cursor: pointer;

}

nav ul li {
  text-transform: uppercase;
}

.navbar-brand {
  color: white !important;
}

.navbar-toggler-icon:hover {
  color: white !important;
}

.navbar-toggler:hover {
  color: white !important;
}

.navbar-nav > li > a {
  margin-left: 15px;
  margin-right: 15px;
  color: white !important;
  border-top: 3px solid rgb(0, 0, 225, 0);
  display: table;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 3px solid rgb(153, 0, 255);
  display: table;
}

.navbar-nav > li > a:hover {
  border-top: 3px solid lightblue;
  display: table;
}